.um{
  background:#BE7820;
  margin-left:2vw;
  width:94.931vw;
  height:8px;
  display:block;
  margin-top: 4vw;
}
.dois{
  background:#BE7820;
  margin-left:2vw;
  margin-top:3.5px; 
  width:94.931vw;
  height:8px;
  display:block;

}



